.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: linear-gradient(#191919, #34373a);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);

  > .logo {
    flex: 0 0 auto;

    > a > svg {
      display: block;
      width: 50px;
      height: 50px;
    }
  }

  .wishlist-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .wishlist-icon {
      width: 45px;
      height: 45px;
      transition: fill 0.4s ease;// Default color for the icon
      fill: rgba(255, 255, 255, 0.7); // Default color for the icon

        &:hover {
					width: 50px;
					height: 50px;
					transition: width 0.4s ease, height 0.4s ease, color 0.4s ease;
					fill: white; // Highlight color on hover
				}

				&:active {
					width: 45px;
					height: 45px;
					transition: width 0.2s ease, height 0.2s ease, fill 0.2s ease;
					fill: white; // Highlight color on hover
        }
    }

    .wishlist-count {
      position: absolute;
      top: -5px;
      right: -5px;
      width: 20px;
      height: 20px;
      background-color: #333; // Dark grey circle
      color: white;
      font-size: 12px;
      font-weight: bold;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }
  }
}
