.carousel-container {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 10px;
  box-sizing: border-box;

  .carousel {
    display: flex;
    gap: 20px;
    width: max-content;
  }

  /* Hide scrollbar for better UI */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}